<div class="container text-center">
   <img src="https://i.pinimg.com/originals/95/f8/58/95f8588d6469a16271ea2d2fad419d00.png" width="75%" height="75%"/>
 
   <h1 class="text text-primary mt-5">Online Shop Store</h1>
</div>
