@model demoweb.Models.Brand

<div class="container col-md-6 text-center mt-3">
    <form class="card p-3 bg-light" asp-controller="Brand" asp-action="Create" method="post">
        <h3 class="text text-primary">Create new mobile brand</h3>
        <div class="form-group">
            <label asp-for="Name" class="text text-success"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text text-danger"></span>
        </div>
          <div class="form-group">
            <label asp-for="CountryId" class="text text-success"></label>
            <select asp-for="CountryId" class="form-control" asp-items="@(new SelectList(ViewBag.Countries,"Id","Name"))">
                <option>Select one</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>